<div class="container">
  <h1><%= t("subcategories.#{@subcategory.subcategory_name}") %></h1>
  <div class="card-footer d-flex justify-content-start gap-2">
    <% category = @subcategory.category %>
    <p class="lead mb-0"><a href="<%= category_path(category) %>" class="text-body-emphasis fw-normal"><%= t("buttons.category.back_category") %></a></p>
  </div>
</div>

<div class="container mt-4 mb-5">
  <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center">
    <% @subcategory.products.each do |product| %>
      <div class="col">
        <%= link_to product_path(product), class: "link-light" do %>
          <div class="card shadow-sm d-flex flex-column h-100">
            <% if product.product_image.attached? %>
              <%= image_tag url_for(product.product_image), class: "mx-auto img-fluid" %>
            <% else %>
              <div class="placeholder" style="background-color: #55595c; width: 100%; height: 250px;"></div>
            <% end %>

            <div class="card-body">
              <p class="card-text text-center h5"><%= t("products.#{product.name}") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
