<div id="<%= dom_id payment_history %>">
  <p>
    <strong>Payment:</strong>
    <%= payment_history.payment_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= payment_history.user_id %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment_history.payment_method %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment_history.payment_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment_history.amount %>
  </p>

</div>
