<div id="<%= dom_id order %>">
  <p>
    <strong>Order:</strong>
    <%= order.id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= order.payment_history_id %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Order address:</strong>
    <%= order.order_address %>
  </p>

  <p>
    <strong>Competion date:</strong>
    <%= order.order_completion_date %>
  </p>

</div>
