<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<!--<div id="orders">-->
<%# @orders.each do |order| %>
<%#= render order %>
<!--    <p>-->
<%#= link_to "Show this order", order %>
<!--    </p>-->
<%# end %>
<!--</div>-->
<%#= link_to "New order", new_order_path %>

<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th>Items</th>
    <th>Date</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>

  <% @orders.order(created_at: :desc).each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td>
        <% order.products.each do |item| %>
          <%= item.name %>
        <% end %>
        - <%= link_to "Edit", edit_order_path(order) %>
      </td>
      <td><%= order.order_date %></td>
      <td><%= order.order_address %></td>
    </tr>
  <% end %>

  </tbody>
</table>

<%= link_to "New order", new_order_path(current_user) %>
