<section class="pt-3 mt-5 mb-5">
  <div class="container">
    <div class="row">


      <div class="col-lg-4 col-xl-3">

        <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar">


          <div class="offcanvas-body p-3 p-lg-0">
            <div class="card bg-light w-100">

              <div class="card-body p-3">

                <div class="text-center mb-3">
                  <h6 class="mb-0"><%= current_user.last_name %> <%= current_user.first_name %></h6>
                  <p class="text-reset text-primary-hover small"><%= current_user.email %></p>
                  <hr>
                </div>


                <ul class="nav nav-pills-primary-soft flex-column">
                  <li class="nav-item">
                    <%= link_to 'My Profile', user_path(current_user), class: 'nav-link text-dark' %>
                  </li>

                  <li class="nav-item">
                    <%= link_to 'Order', "#", class: 'nav-link text-dark' %>
                  </li>

                  <li class="nav-item">
                    <%= link_to 'Order list', orders_list_path, class: 'nav-link text-dark' %>
                  </li>

                  <li class="nav-item">
                    <%= link_to 'Payment History', '#', class: 'nav-link text-dark' %>
                  </li>

                  <li class="nav-item">
                    <%= link_to 'Settings', '#', class: 'nav-link text-dark' %>
                  </li>

                  <li class="nav-item">
                    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link text-danger" %>
                  </li>
                </ul>

              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-8 col-xl-9">


        <div class="d-grid mb-0 d-lg-none w-100">
          <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
            <i class="fas fa-sliders-h"></i> Menu
          </button>
        </div>

        <div class="vstack gap-3">

          <div class="card border">

            <div class="card-header border-bottom">
              <h4 class="card-header-title">Your orders</h4>
            </div>


            <div class="card-body">

                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Order date</th>
                    <th>Completion date</th>
                    <th>Adress</th>
                    <th>Product</th>
                    <th>Producer</th>
                    <th>Price</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @orders.each do |order| %>
                    <tr>
                      <td><%= order.order_date %></td>
                      <td><%= order.order_completion_date %></td>
                      <td><%= order.order_address %></td>
                      <td>
                        <% order.order_items.each do |order_item| %>
                          <%= order_item.product.name %><br>
                        <% end %>
                      </td>
                      <td>
                        <% order.order_items.each do |order_item| %>
                          <%= order_item.product.producer.producer_name %><br>
                        <% end %>
                      </td>
                      <td>
                        <% order.order_items.each do |order_item| %>
                          <%= order_item.price %><br>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
                </div>

                </div>
                 <div class="card border">
                </div>
                 <div class="card">
                <div class="card-body text-center">

                  <%= month_calendar do |date| %>
                    <%= link_to '#' do %>
                      <div class="calendar-date" data-date="<%= date %>">
                        <%= date.day %>
                      </div>
                    <% end %>
                  <% end %>

                  <script>
                      document.addEventListener('DOMContentLoaded', function() {
                          document.querySelectorAll('.calendar-date').forEach(function(dateElement) {
                              let colorIndex = 0; // Индекс цвета (0 - стандартный, 1 - красный, 2 - зеленый)

                              dateElement.addEventListener('click', function(event) {
                                  event.preventDefault(); // Предотвращаем прокрутку страницы

                                  // Массив доступных цветов
                                  const colors = ['', 'green', 'red'];

                                  // Меняем цвет фона при клике
                                  dateElement.style.backgroundColor = colors[colorIndex];
                                  colorIndex = (colorIndex + 1) % colors.length; // Переключаем индекс цвета
                              });
                          });
                      });

                      document.addEventListener('DOMContentLoaded', function() {
                          document.querySelectorAll('.calendar-date').forEach(function(dateElement) {
                              const current_user = <%= current_user.id %>; // Получаем ID текущего пользователя

                              const savedColor = localStorage.getItem(`col_${current_user}_${dateElement.dataset.date}`);
                              dateElement.style.backgroundColor = savedColor || '';

                              dateElement.addEventListener('click', function(event) {
                                  event.preventDefault();
                                  const colors = ['', 'green', 'red'];

                                  const currentColorIndex = colors.indexOf(dateElement.style.backgroundColor);
                                  const nextColorIndex = (currentColorIndex + 1) % colors.length;
                                  dateElement.style.backgroundColor = colors[nextColorIndex];
                                  localStorage.setItem(`col_${current_user}_${dateElement.dataset.date}`, colors[nextColorIndex]);
                              });
                          });
                      });



                  </script>

                  <style>
                      .calendar-date {
                          display: inline-block;
                          width: 30px;
                          height: 30px;
                          border: 1px solid #ccc;
                          text-align: center;
                          line-height: 30px;
                          cursor: pointer;
                          color: black;
                      }
                  </style>


                </div>
                 </div>
                </div>
                </div>
                </div>
                </div>
                </div>
              </section>