<div class="container mt-5">
  <p style="color: green"><%= notice %></p>
  <h1 class="title is-1"><%= t("heading.order.order") %> №<%= @order.id %></h1>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th><%= t("activerecord.attributes.order.item_name") %></th>
      <th><%= t("activerecord.attributes.order_items.price") %></th>
      <th><%= t("activerecord.attributes.order_items.quantity") %></th>
      <th><%= t("activerecord.attributes.order.total") %></th>
    </tr>
    </thead>
    <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.product.id %></td>
        <td><%= t("products.#{item.product.name}") %></td>
        <td>
          <% preferred_currency = current_user.present? ? current_user.preferred_currency : 'UAH' %>
          <%= display_price(item.product.price, @usd_buy, @eur_buy, preferred_currency) %>
        </td>
        <td><%= item.quantity %></td>
        <td>
          <% preferred_currency = current_user.present? ? current_user.preferred_currency : 'UAH' %>
          <%= display_price(item.price, @usd_buy, @eur_buy, preferred_currency) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="d-flex align-items-center gap-2">
<!--    <%#= link_to t("buttons.order.edit_order"), edit_order_path(@order), class: "btn btn-primary" %> |-->
    <%#= link_to "Back to orders", orders_path, class: "btn btn-primary" %>
    <%= link_to t("buttons.order.back_orders"), current_user ? orders_path(user_id: current_user.id) : orders_path, class: "btn btn-primary" %>

    <%= button_to t("buttons.order.destroy_order"), @order, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
