<div id="<%= dom_id producer %>">
  <p>
    <strong>Producer:</strong>
    <%= producer.id %>
  </p>

  <p>
    <strong>Producer name:</strong>
    <%= producer.producer_name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= producer.country %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= producer.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= producer.phone %>
  </p>

</div>
