<div class="p-4 p-md-5 mb-4 mx-5 rounded text-body-emphasis bg-body-secondary">
  <div class="col-lg-8 px-0">
    <h1 class="display-4 fst-italic"><%= t("categories.#{@category.category_name}") %></h1>
    <p class="lead my-3"><%= t("descriptions.#{@category.category_name}") %></p><br>
    <p class="lead mb-0"><a href="<%= categories_path %>" class="text-body-emphasis fw-bold"><%= t("buttons.category.back_categories") %></a></p>
  </div>
</div>

<div class="container mt-4 mb-5">
  <h3 class="mb-3"><%= t("heading.subcategory.subcategories") %></h3>
  <div class="row row-cols-1 row-cols-md-5 g-3 justify-content-start">
    <% @subcategories&.each do |subcategory| %>
      <div class="col">
        <%= link_to subcategory_path(subcategory), class: "link-light" do %>
          <div class="card shadow-sm d-flex flex-column h-100">
            <div class="card-body">
              <p class="card-text text-center h5"><%= t("subcategories.#{subcategory.subcategory_name}") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
