<div id="<%= dom_id product %>" class="product-container">
  <% if @product.product_image.attached? %>
    <%= image_tag url_for(@product.product_image), class: "product-image", style: "width: 30%;" %>
  <% end %>

  <div class="product-details">
    <p>
      <strong><%= t("heading.product.product") %> :</strong>
      <%= product.id %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.product.subcategory_id") %> :</strong>
      <%= t("subcategories.#{product.subcategory.subcategory_name}") %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.product.name") %> :</strong>
      <%= t("products.#{product.name}") %>
    </p>

    <p>
    <strong><%= t("activerecord.attributes.product.price") %> :</strong>
      <% preferred_currency = current_user.present? ? current_user.preferred_currency : 'UAH' %>
      <%= display_price(product.price, @usd_buy, @eur_buy, preferred_currency) %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.product.height") %> :</strong>
      <%= product.height %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.product.width") %> :</strong>
      <%= product.width %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.product.length") %> :</strong>
      <%= product.length %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.product.color") %> :</strong>
      <%= t("colors.#{product.color}") %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.product.material") %> :</strong>
      <%= t("materials.#{product.material}") %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.product.producer_id") %> :</strong>
      <%= product.producer.producer_name %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.product.availability") %> :</strong>
      <%= product.availability %>
    </p>
  </div>
</div>
