<p style="color: green;"><%= notice %></p>

<div class="container">
  <div class="row justify-content-center">
    <div class="text-center">
      <p style="color: green;"><%= notice %></p>
      <h1>Products</h1>
    </div>
  </div>

  <%= form_with(url: products_path, method: "get", local: true, html: { class: "d-flex", style: "justify-content: center;" }) do %>
    <div class="form-group mx-sm-3 mb-2">
      <%= select_tag :sort_by, options_for_select([['Rating', 'average_rating'], ['Number of comments', 'review_count'], ['Time of creation', 'created_at']], params[:sort_by]), class: "custom-select", onchange: 'this.form.submit();' %>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <%= select_tag :direction, options_for_select([['Ascending', 'asc'], ['Descending', 'desc']], params[:direction]), class: "custom-select", onchange: 'this.form.submit();' %>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <%= select_tag :category, options_for_select(Category.all.map { |category| [category.category_name, category.id] }, params[:category]), include_blank: true, class: "custom-select", onchange: 'this.form.submit();' %>
    </div>
  <% end %>


  <div class="table-responsive mx-auto" style="width: 95%;">
  <table class="table table-striped" style="width: 100%;">
    <thead>
    <tr>
      <th class="w-10">ID</th>
      <th class="w-10">Subcategory</th>
      <th class="w-10">Name</th>
      <th class="w-10">Price</th>
      <th class="w-10">Height</th>
      <th class="w-10">Width</th>
      <th class="w-10">Length</th>
      <th class="w-10">Color</th>
      <th class="w-10">Material</th>
      <th class="w-10">Producer</th>
      <th class="w-10">Availability</th>
      <th class="w-10">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.subcategory_id %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.height %></td>
        <td><%= product.width %></td>
        <td><%= product.length %></td>
        <td><%= product.color %></td>
        <td><%= product.material %></td>
        <td><%= product.producer_id %></td>
        <td><%= product.availability %></td>
        <td>
          <%= link_to "Show", product, class: "btn btn-primary btn-sm mr-2" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-6 text-center">
      <%= link_to "New product", new_product_path, class: "btn btn-success" %>
    </div>
  </div>
</div>