<div class="container">
  <div class="row justify-content-center">
    <div class="text-center">
      <p style="color: green;"><%= notice %></p>
      <h1><%= t("sidebar.menu.products") %></h1>
    </div>
  </div>

  <div class="table-responsive mx-auto" style="width: 95%;">
    <table class="table table-striped" style="width: 100%;">
      <thead>
      <tr>
        <th class="w-10">ID</th>
        <th class="w-10"><%= t("activerecord.attributes.product.subcategory_id") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.name") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.price") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.height") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.width") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.length") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.color") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.material") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.producer_id") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.availability") %></th>
        <th class="w-10">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= t("subcategories.#{product.subcategory.subcategory_name}") %></td>
          <td><%= t("products.#{product.name}") %></td>
          <td><%= product.price %></td>
          <td><%= product.height %></td>
          <td><%= product.width %></td>
          <td><%= product.length %></td>
          <td><%= t("colors.#{product.color}") %></td>
          <td><%= t("materials.#{product.material}") %></td>
          <td><%= product.producer.producer_name %></td>
          <td><%= product.availability %></td>
          <td>
            <%= link_to t("buttons.show"), product, class: "btn btn-primary btn-sm mr-2" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-6 text-center">
      <%= link_to t("buttons.product.new_product"), new_product_path, class: "btn btn-success" %>
      <%= link_to t("buttons.product.export_CSV"), export_to_csv_products_path(format: :csv), class: "btn btn-primary" %>
    </div>
  </div>
</div>
