<div class="container">
  <div class="row justify-content-center mb-3">
    <div class="text-center">
      <p style="color: green;"><%= notice %></p>
      <h1><%= t("sidebar.menu.products") %></h1>
    </div>
  </div>

  <%= form_with(url: products_path, method: "get", local: true, html: { class: "d-flex flex-wrap justify-content-center align-items-center gap-2" }) do %>
    <div class="form-group mb-2">
      <%= select_tag :sort_by, options_for_select([['Rating', 'average_rating'], ['Number of comments', 'review_count'], ['Time of creation', 'created_at']],
                                                  params[:sort_by]), class: "form-control", onchange: 'this.form.submit();' %>
    </div>

    <div class="form-group mb-2">
      <%= select_tag :direction, options_for_select([%w[Ascending asc], %w[Descending desc]],
                                                    params[:direction]), class: "form-control", onchange: 'this.form.submit();' %>
    </div>

    <div class="form-group mb-2">
      <%= select_tag :category, options_for_select(Category.all.map { |category| [category.category_name, category.id] },
                                                   params[:category]), prompt: "-Category-", class: "form-control", onchange: 'this.form.submit();' %>
    </div>

    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="form-group mx-3 mb-2">
          <%= text_field_tag :keyword, params[:keyword], class: "form-control", placeholder: "Enter product name" %>
        </div>

        <div class="form-group sm-3">
          <%= submit_tag "Search", class: "btn btn-primary mb-2" %>
        </div>
    </div>
  <% end %>

  <div class="table-responsive mx-auto mt-3" style="width: 95%;">
    <table class="table table-striped" style="width: 100%;">
      <thead>
      <tr>
        <th class="w-10">ID</th>
        <th class="w-10"><%= t("activerecord.attributes.product.subcategory_id") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.name") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.price") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.height") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.width") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.length") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.color") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.material") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.producer_id") %></th>
        <th class="w-10"><%= t("activerecord.attributes.product.availability") %></th>
        <th class="w-10">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= t("subcategories.#{product.subcategory.subcategory_name}") %></td>
          <td><%= t("products.#{product.name}") %></td>
          <td>
            <% preferred_currency = current_user.present? ? current_user.preferred_currency : 'UAH' %>
            <%= display_price(product.price, @usd_buy, @eur_buy, preferred_currency) %>
          </td>
          <td><%= product.height %></td>
          <td><%= product.width %></td>
          <td><%= product.length %></td>
          <td><%= t("colors.#{product.color}") %></td>
          <td><%= t("materials.#{product.material}") %></td>
          <td><%= product.producer.producer_name %></td>
          <td><%= product.availability %></td>
          <td>
            <%= link_to t("buttons.show"), product, class: "btn btn-primary btn-sm mr-2" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-6 text-center">
      <%= link_to t("buttons.product.new_product"), new_product_path, class: "btn btn-success" %>
      <%= link_to t("buttons.product.export_CSV"), export_to_csv_products_path(format: :csv), class: "btn btn-primary" %>
    </div>
  </div>
</div>
