<div class="container mt-5">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1><%= t("heading.product.product") %></h1>
  <%= render @product %>

  <div class="d-flex align-items-center gap-2">
    <%= link_to t("buttons.product.edit_product"), edit_product_path(@product), class: "btn btn-primary" %> |
    <%= link_to t("buttons.product.back_to_products"), products_path, class: "btn btn-primary" %>
    <%= button_to t("buttons.product.destroy_product"), @product, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
