<!-- Боковая панель-->
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
  <div class="offcanvas-header">
    <!--          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel"><%#= current_user.last_name %> <%#= current_user.first_name %></h5>-->
    <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel"><%= current_user.username %></h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <!-- Контент боковой панели для покупателя -->
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mb-2">
      <li class="nav-item">
        <%= link_to t("nav.profile"), user_path(current_user), class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= t("nav.dropdown") %>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <form class="d-flex mt-3" role="search">
        <input class="form-control me-2" type="search" placeholder="<%= t('nav.search_form.placeholder') %>" aria-label="<%= t('nav.search_form.placeholder') %>">
        <button class="btn btn-outline-success" type="submit"><%= t('nav.search_form.button') %></button>
      </form>
      <li class="nav-item mt-4">
        <%= button_to t("buttons.sign_out"), destroy_user_session_path, method: :delete, class: "btn btn-outline-light me-2" %>
      </li>
    </ul>
  </div>
</div>
